name: Run test

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  run-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [20]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
          registry-url: https://registry.npmjs.org/

      - run: git config --global user.email "cicd@example.com" && git config --global user.name "Your Name"
      - run: npm install
      - run: npm test
